@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FYP1 System</h1>
    <p class="lead">This system is designed for the students and lecturers for the purposes of submission and evaluation of FYP1 Proposal.
        The student shall be able to select their supervisor from the system and make their FYP1 Proposal submission through the system.
        The lecturers with specific role either as supervisor or  evaluator or committee will be using the system with different 
        functionalities as their roles have permission to do. </p>
    <p><a href="https://engineering.utm.my/computing/psm/psm-1/" class="btn btn-primary btn-lg" target="_blank">More on FYP1 &raquo;</a></p>
</div>

<div class="row">
    <strong>Project/Research Areas Briefing</strong>
    <p>
        Each department has its own research areas that differentiate them from the others. At the beginning of the semester, Departmental PSM1 Coordinator will brief the students on suitable topic areas related to the department. Also included in the briefing are the departmental lecturers’ areas of interests, which could be very useful for students in the process of selecting the project title, supervisor and co-supervisor, if necessary.
    </p>
    <strong>Supervisor Appointment</strong>
    <p>
        Students are responsible to find a supervisor to supervise them in the execution of their project. The appointed supervisor will supervise the student’s project for both PSM1 and PSM2. Students, in appointing a supervisor, could use the following tips.

        <br /><br />a)  Have a discussion with a few lecturers before appointing, in order to identify:
        <br />  a) A supervisor who has sufficient knowledge on the intended project.
        <br />  b) A supervisor who has the same interest on the intended project.
        <br />  c) Co-supervisor, if the intended project is a cross discipline area.

        <br /><br />b) DO NOT appoint a supervisor at the last minute. If possible, appoint one    before the semester opens.
        <br />c) Each student must get the supervisor’s agreement to supervise them. Ensure to get the supervisors signature in the Project Proposal Form (at PSM Website) before submitting the form to the departmental committee.
        <br />d) Check the list of CSC lecturers and their areas of interests at the PSM website.
    </p>
    <strong>Weekly Supervision Meeting and Log Book</strong>
    <p>
        Regular review from supervisors will ensure that students execute their project according to the faculty’s procedure and standards, as well as the project objectives and aims. Student must arrange a minimum of six (6) formal meetings with their supervisors before receiving permission to submit and present their project. However, students are strongly advised to arrange a weekly meeting with the supervisors to address issues related to project execution. All meetings must be recorded in a logbook and the supervisor’s signature of approval of each meeting is required. The logbook form is available at the PSM website.
    </p>
    <strong>PSM1 Report Correction</strong>
    <p>
        Students are required to do correction based on the comments given by the evaluators. The comments are available on feedback forms provided to evaluators during presentation. Students are urged to discuss all comments with their supervisor and take appropriate actions. Corrections made to the report must be endorsed by both supervisor and evaluators in Section D of PSM1 Evaluation form.
    </p>
</div>